@import url('simplelightbox/dist/simple-lightbox.min.css');
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  width: 827px;
  height: 696px;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 10px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s;
}

.gallery-image:hover {
  transform: scale(1.1);
}
.gallery-description {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02;
}
